{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Sala </h1>
        <p> Ipsum loren eytgiuh cxsa nio;sjkn as</p>
    </div>
    <div class="col-4">
        <img src="assets/img/sala.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}
